@import url('https://fonts.googleapis.com/css2?family=Changa&family=Domine:wght@700&family=Oswald:wght@700&display=swap');
/*
font-family: 'Changa', sans-serif;
font-family: 'Domine', serif;
font-family: 'Oswald', sans-serif; */
alert{
    font-family: 'Oswald', sans-serif;
    width: 100vw;
}
footer div{
    border: 10px solid --bs-cyan;
}
footer{
    border: 10px solid --bs-cyan;
}