<li>
  <form>
    <label for="Done">
      <h3 [ngClass]="{'strike': this.todo.isStrike}">{{ todo.todotitle }}</h3>
      <div class="container">
        <hr/>
      </div>
      <p [ngClass]="{'strike': this.todo.isStrike}">{{ todo.todobody }}</p>
    </label>
    <div class="form-check">
      <label class="form-check-label" for="checked{{i}}">
        Mark as Done
      </label>
      <input class="form-check-input" type="checkbox" value="Mark As Dome" id="checked{{i}}" [checked]="todo.isStrike" (click)="check(todo)">
    </div>
  </form>
  <button (click)="DelTodo(todo)" class="btn btn-sm btn-danger my-3">Delete</button>
</li>